VITE_MEDIA_BASE_URL=https://3rdqnprfkrc5djuh.public.blob.vercel-storage.com

# Telegram configurations. Support multiple chat IDs separated by commas.
# Example: TELEGRAM_CHAT_ID=user_id,group_id
TELEGRAM_CHAT_ID=-1004410038889
VITE_TELEGRAM_CHAT_ID=-1004410038889

TELEGRAM_BOT_TOKEN=
VITE_TELEGRAM_BOT_TOKEN=
